:root {

    --baseColor: #606468;

  }

  
 .grid {

    inline-size: 90%;

    margin-inline: auto;

    max-inline-size: 20rem;

    display:grid;

  }
.hidden {

    border: 0;

    clip: rect(0 0 0 0);

    height: 1px;

    margin: -1px;

    overflow: hidden;

    padding: 0;

    position: absolute;

    width: 1px;

}
.icon{
  block-size: 1em;
  display: inline-block;
  fill: var(--iconFill);
  inline-size: 1em;
  vertical-align: middle;
}


:root{
  --htmlFontSize: 100%;
  --bodyBackgroundColor: #2c3338;
  --bodyColor: var(--baseColor);
  --bodyFontFamily: "Open Sans";
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;

}

*{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: var(--htmlFontSize);
}